package ${pojo.javaPackage};
import org.springframework.jdbc.core.JdbcTemplate;
import org.springframework.jdbc.core.simple.ParameterizedRowMapper;
import org.springframework.stereotype.Component;
import org.springframework.beans.factory.annotation.Autowired;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.util.List;

#foreach(${import} in ${pojo.imports})
#if( "${import}" != "" )
import ${import};
#end
#end

@Component
public class $pojo.name
{
@Autowired
JdbcTemplate jdbcTemplate;
public List<$pojo.modelItem> getData(){
    return jdbcTemplate.query("select * from ${pojo.tableName}", new ParameterizedRowMapper<$pojo.modelItem>() {
        @Override
        public $pojo.modelItem mapRow(ResultSet resultSet, int i) throws SQLException {
            $pojo.modelItem obj = new ${pojo.modelItem}();
            return obj;
        }
    });
}

}
