package ${pojo.javaPackage};
import org.springframework.jdbc.core.JdbcTemplate;
import org.springframework.jdbc.core.simple.ParameterizedRowMapper;

import java.sql.ResultSet;
import java.sql.SQLException;
import java.util.List;

#foreach(${import} in ${pojo.imports})
#if( "${import}" != "" )
import ${import};
#end
#end

public class $pojo.name
{
private JdbcTemplate jdbcTemplate;

public void setJdbcTemplate(JdbcTemplate jdbcTemplate) {
    this.jdbcTemplate = jdbcTemplate;
}

public List<$pojo.modelItem> getData(){
    return jdbcTemplate.query("select * from ${pojo.tableName}", new ParameterizedRowMapper<$pojo.modelItem>() {
        @Override
        public $pojo.modelItem mapRow(ResultSet resultSet, int i) throws SQLException {
            $pojo.modelItem obj = new ${pojo.modelItem}();
            return obj;
        }
    });
}

}
